<section class="card">
    <div class="card-body">
        <h1 class="card-title">About</h1>
        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut, quasi! Sapiente quia eum labore nulla harum ab nam facere non!</p>

    </div>
</section>